.addtoCartBtn {
  position: relative;
  display: inline-block;

  .addToCart {
    position: relative;
    text-align: center;
    border: none;
    background-color: var(--color-category);
    border-radius: 50px;
    font-size: 14px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    transition: all 0.5s ease-in-out;
    color: var(--color-white);
    cursor: pointer;
    z-index: 1;

    &:hover {
      background-color: var(--icon-color);

      &+.addToCartText {
        opacity: 1;
        visibility: visible;
        transform: translateY(-50%) translateX(0);
      }
    }
  }

  .addToCartText {
    position: absolute;
    right: calc(100% + 10px);
    top: 50%;
    transform: translateY(-50%) translateX(15px);
    padding: 4px 12px;
    background-color: var(--color-category);
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
    z-index: 2;
    min-width: 85px;
    text-align: center;

    p {
      margin: 0;
      white-space: nowrap;
      font-size: 13px;
      color: var(--color-white);
    }

    &::after {
      content: "";
      position: absolute;
      right: -5px;
      top: 50%;
      transform: translateY(-50%);
      border-left: 6px solid var(--color-category);
      border-top: 6px solid transparent;
      border-bottom: 6px solid transparent;
    }

    &:hover {
      background-color: var(--icon-color);

      &::after {
        border-left-color: var(--icon-color);
      }
    }
  }
}