.stars-container {
    display: flex;
    align-items: center;
    gap: 2px;

    svg {
        font-size: 16px;
    }

    .star-filled,
    .star-half {
        color: var(--color-star);
    }

    .star-empty {
        color: var(--color-star-empty);
    }
}
